<!DOCTYPE html>
<html>
  <head>
    <title>Fortress Quest</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
  </head>
  <body>
    <button href="#" id="achievement-link">Badge Collection</button>
    <button href="#" id="back-home">Current Badge</button>

    <div id="currentBadge">
      <h2 id="badgeName"></h2>
      <div id="badgeImage"></div>
      <div id="taskDetails"></div>
    </div>
    <div id="achievements"></div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="/js.cookie.js"></script>
    <script type="text/javascript" src="/client.js"></script>
  </body>
</html>
